.body {
    background-color: rgb(153, 204, 255);
	height: 30em;
}

.testing-styles {
    color: blue;
}

.login-header {
    color: white;
    text-align: center;
    font-size: xx-large;
}

.input {
    font-size: large;
    padding: 0.5em;
    border: 0.25em solid white;
    border-radius: 0.5em;
    background-color: gray;
}

.input-box {
	text-align: center;
}

.button {
	border: 0.25em solid white;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 2em;
}