.body {
    background-image: url('../images/login-background-img.jpg');
    height: 30em;
}

.testing-styles {
    color: blue;
}

.login-header {
    color: white;
    text-align: center;
    font-size: xx-large;
}

.input {
    font-size: large;
    padding: 0.5em;
    border: 0.25em solid white;
    border-radius: 0.5em;
    background-color: gray;
}

.input-box {
    text-align: center;
}